doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title=title
        link(rel='stylesheet',href='/css/bootstrap.min.css')
        link(rel='stylesheet',href='/style.css')
    body
       ul
         li
           a(href='/') Домой
         li
           a(href='/api/courses') Курсы

           block content